
<div class="aside">

<div class="mod" id="sp-user">
    <div class="bd">
        <div class="user-pic">
            <img src="/static/img/me.jpg">
        </div>
        <div class="desc">
        嘿 , 看<br>
        (・ω・)ノ- ( ゜- ゜)つロ  <br>
        酷么<br>
            
        </div>

        <div class="site-info">
            

<div id="sp-user-card" class="mod music-card">
    <div class="hd">
        <div class="title">
            <a target="_blank" href="/">「放肆的肆」</a>
        </div>
    </div>
</div>
        </div>

    </div>
</div>






<div id="db-followers" class="mod">
  <div class="hd"> 
    <h2><span>挚友</span>
    </h2>
  </div>   
<div class="bd">
<ul class="list-s"> 
    <li>
    <div class="pic">
        <a href="." class="nbg"><img src="/static/img/link.jpg" class="imgg" alt="″peerless" title="″peerless"></a> 
    </div>
    </li>

    
</ul>
</div>
</div>




            </div>

        </div>
        
<div id="footer" style="margin: 0 35px 50px;">
    

<div class="db-inc">
<span class="copyright">
    除额外注明的地方外，本站上的内容按下列许可协议发布： <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license" class="urlextern">CC Attribution-Noncommercial-Share Alike 3.0 Unported</a>
    <!--br>
    Power by <a href="."  target="_black">{{ site.title }}</a>  build:{{site.time}} 
<a href="https://gitcafe.com/"  target="_black">Download</a-->
</span>


</div>

</div>

    </div>
    <div class="bg">&nbsp;<div class="mask">&nbsp;</div></div>

 


</body></html>

