
<body>
    <div class="wrapper">
        <div id="header">
            <div class="sp-nav">
                <div class="sp-logo">
                    <a href="." class="logo">「放肆的肆」</a>
                </div>
                



<div class="nav-items">
    <ul>
        <li class="">
            <a href="/index.html">
                <span>「放肆的肆」</span>
            </a>
        </li>
         <li class="">
            <a href="/archive.html">
                <span>「动次打次」</span>
            </a>
        </li>
         <li class="">
            <a href="/about.html" hidefocus="true">
                <span>「荒诞故事」</span>
            </a>
        </li>
        <li class="">
            <a href="/love.html" hidefocus="true">
                <span>「预谋邂逅」</span>
            </a>
        </li>
         <li class="">
            <a href="/photo.html" hidefocus="true">
                <span>「浪漫假日」</span>
            </a>
        </li>
    </ul>
</div>
            </div>

        </div>