.bg {
      background-image: url(../img/bg.jpg);
}
}


.bg {
  background-color: #ebf6f9; 
}
.bg .mask {
  display: none;
}


.bg {
  background-repeat: repeat;

}

.top-nav a:link, .top-nav a:visited, .top-nav a:hover, .top-nav a:active, .mod a, #footer a, .content-nav a {
  color: #518894; 
}
.top-nav .top-nav-info a:hover, .mod a:hover, #footer a:hover, .content-nav a:hover {
  color: #fff; 
  background-color: #518894;
}



.nav-items li {
  background-color: #50526e;
}
.nav-items li.on {
  border-color: #9ec293;
}
.nav-items li#room-more ul {
  border-color: #9ec293;
}
.nav-items li a:link,
.nav-items li a:visited {
  color: None;
}
.nav-items li a:hover {
  background-color: rgb(128, 175, 114);
}
  background-color: hsl(105, 27%, 76%);
}
.nav-items li#room-more li a:hover {
  background-color: #9ec293; color: None;
}




    #link-report9314111 .report { text-align: right; font-size: 12px; visibility: hidden; }
    #link-report9314111 .report a { color: #BBB; }
    #link-report9314111 .report a:hover { color: #FFF; background-color: #BBB; }
    .dui-dialog{position:fixed;_position:absolute;z-index:1000}
    .dui-dialog .dui-dialog-content{position:relative;z-index:2;background:#fff;border:1px solid #bbb;-moz-border-radius:4px;border-radius:4px;*zoom:1}
    .dui-dialog .hd{padding:10px 10px 6px;background:#ebf5eb;font-size:14px;-moz-border-radius:4px;border-radius:4px 4px 0 0}
    .dui-dialog .hd h3{padding:0 40px 0 4px;background:0;color:#060}
    .dui-dialog .hd h3 i{color:#060;font-style:normal;margin-left:.5ex}
    .dui-dialog .bd{position:relative;padding:15px;*zoom:1;font-size:12px}
    .dui-dialog .bd:after{content:&#39;\0020&#39;;clear:both;display:block}
    .dui-dialog .ft .bn-flat,.dui-dialog .ft input{margin:0 .5em}
    .dui-dialog .ft{text-align:center;padding:10px;padding-top:0}
    .dui-dialog .dui-dialog-close{position:absolute;top:10px;right:12px;padding:0 3px;z-index:1;font:11px/1.2 &#34;Comic Sans MS&#34;,sans-serif}
    a.dui-dialog-close:link{color:#b4b4b4}
    a.dui-dialog-close:hover{color:#fab0b6;background:0}
    .dui-dialog .dui-dialog-shd{position:absolute;left:-8px;top:-8px;width:100%;height:100%;padding:8px;background:#666;opacity:.4;filter:alpha(opacity=50);-ms-filter:&#34;alpha(opacity=50)&#34;;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
    .dui-dialog-iframe{border:0;background:transparent;position:absolute;z-index:1;left:-8px;top:-8px;opacity:0;filter:alpha(opacity=0)}.dui-dialog-msk{background:#fff;position:absolute;width:100%;z-index:999;left:0;top:0;opacity:.7;filter:alpha(opacity=70)}




    .bn-sharing {padding-right:10px;background-image: url(//s.doubanio.com/pics/a1.png) !important; background-repeat: no-repeat !important; background-position: 100% -19px !important;*display:inline-block;}      
a.bn-sharing:hover {text-decoration:underline;}      
.bn-sharing-on {background-position:100% 4px !important;position:relative !important;z-index:1 !important;}      
#db-div-sharing {position:absolute;width:100px;*margin-top:-2px;}      
#db-div-sharing .bd {border:1px solid #aaa;background:#fff;padding:10px 0 0 10px;}      
#db-div-sharing .bd li {line-height:17px;margin-bottom:10px;}      
#db-div-sharing .hd {position:absolute;height:24px;*line-height:21px;overflow:hidden;right:0;top:-24px;padding:0 5px;border:1px solid #aaa;border-bottom:none;background:#fff;}      
.rec-sin,      .rec-qzone,      .rec-tx,      .rec-wx,      .rec-qqim {padding-left:20px;background:url(http://img3.douban.com/f/shire/3c8da10d6081bd1b2d13d3733b2ac201535c5d0f/pics/ic_shares2.png) no-repeat 0 0;}      
.rec-qzone {background-position:0 -32px;}      .rec-qqim {background-position:0 -64px;}      
.rec-tx {background-position:0 -96px;}      .rec-wx {background-position:0 -128px;}  



