{% include head.html %}
{% include header.html %}

        <div id="content">
            <div class="main">

 <div class="mod">
  <div class="bd">
<div id="note-512203280" class="note-item"> 
<div class="note-hd">
<h1>{{page.title | md5 }}</h1>
</div>
<span class="datetime">2015-08-11 11:22:45</span>
<div id="note_512203280_full" class="note-content">
  <div id="link-report"><div class="cc"><table><tbody><tr><td><img src="/static/img/post.jpg" alt=""></td></tr><tr><td align="center" class="wr pl"></td></tr></tbody></table></div><br>

{{ content }}

  </div>
</div>
</div>
  </div>
</div>





</div>
{% include footer.html %}

